* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex: 1;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  background: url(img/jungle-krystal-ng.jpg);
  background-size: cover;
  width: clamp(100px, 35%, 600px);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar--overlay {
  background-color: rgba(0, 0, 0);
  opacity: 0.35;
  height: 100%;
}

.sidebar--credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.sidebar--credits a:visited,
.sidebar--credits a {
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

/* MAIN CONTENT */

.main-content {
  --side-padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 20px;
  background-color: rgb(247, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 var(--side-padding);
  width: clamp(100px, 90ch, 1000px);
  font-size: 1.5rem;
  font-weight: 600;
}

.description em {
  font-style: italic;
}

.form--container {
  display: flex;
  flex-direction: column;
}

.form {
  background-color: white;
  padding: 20px var(--side-padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 10px 1px 40px 1px rgba(0, 0, 0, 0.2);
}

.form--legend {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 15px 0;
}

.form fieldset {
  display: flex;
  padding: 10px 0;
  gap: 45px;
}

.form fieldset:last-child {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  width: max(40%, 300px);
  flex-direction: column;
}

.wrapper input {
  border: 1px solid rgba(0, 0, 0, 0.233);
  padding: 8px 10px;
  width: clamp(100px, 100%, 500px);
}

.form-btn--container {
  padding: 15px var(--side-padding);
}
